/* General site */
* {
    box-sizing: border-box;
    font-family: 'Koulen', cursive;
}
body, html {
    margin: 0;
}

p {
    padding: 5px 0;
}

/* Introduction section */
.introduction {
    text-align: center;
    vertical-align: middle;
    background-image: linear-gradient(180deg, #dfa579 60%, #FFF 95%);
    padding: 250px 0 200px 0;
    height: 100vh;
}

h1 {
    font-size: 3em !important;
}

a {
    font-size: 1.2em !important;
    
}

.btn {
    margin: 10px;
    width: 200px;
    height: 40px;
}

/* About me section */

.about-me {
    background:  rgb(253, 253, 251);
    text-align: left;
    vertical-align: middle;
    padding: 50px 100px;
    margin-left: 20px !important;
}

#about > img {
    height: 90vh;
    width: 70vh !important;
    margin-left: 70px;
}

.about-me-text {
    font-size: 1.3em;
}

h2, p {
    font-family: 'Playfair Display', serif;
}


/* Academic background section */

.academic {
    padding: 60px 100px;
    background-image: linear-gradient(180deg, #dfa579 60%, #FFF 95%);
}

h3 {
    font-size: 3em !important;
    padding-bottom: 40px;
    text-align: center;
}

h4 {
    text-align: center;
    
}

.card {
    margin: 50px 50px;
    border-color: black !important;
    border-width: 3px !important;
}


/* Work experience section */

.work-item {
    background:  rgb(253, 253, 251) ;
    text-align: center;
    vertical-align: middle;
    padding: 80px;
    margin-right: auto;
    max-width: 100%;
}

.work-item > p {
    font-size: 1.1rem;
    padding-left: 15px;
    padding-right: 5px;
}

.work-item-1 {
    padding-top: 60px;
}

.work-item-2 {
    padding-bottom: 170px;
}



.work-item > img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Contact me section */

footer {
    text-align: center;
    background-color:  #dfa579;
	position: relative;
    display: block;
    width: 100%;
    padding: 10px 25px 0px 25px;
}

.navbar-brand {
    font-size: 1.5em !important;
    padding-right: 20px;
}

ul {
    text-align: center;
    display: flex;
    gap: 60px;
    padding: 25px;
}

.nav-link:hover {
    background-color: rgba(206, 201, 243, 0.87);
}



